@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Original Surfer;
}

body {
    display: flex;
    flex-direction: column;
}

.mi-header {
    height: 10vh;
    background-color: #ff5100;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat (3, 1fr);
    justify-items: center;
    align-items: center;
}

h1 {
    grid-column: 2/3;
    grid-row: 1/4;
}

.main-page {
    height: 80vh;
    background-color: #f2f2f2;
    display: grid;
    grid-template-areas: 
    "a a b b"
    "a a c c"
    "d e e e"
    "d f f g";
    justify-items: center;
    align-items: center;
}

.item {
    height: 80%;
    width: 80%;
    background-color: #11ff00;
}

.a{
    grid-area: a;
    background-color: rgb(255, 60, 0);
}

.b{
    grid-area: b;
    background-color: rgb(255, 247, 0);
}

.c{
    grid-area: c;
    background-color: rgb(0, 145, 255);
}

.d{
    grid-area: d;
    background-color: rgb(124, 67, 5);
}

.e{
    grid-area: e;
    background-color: rgb(255, 0, 242);
}

.f{
    grid-area: f;
    background-color: rgb(177, 72, 85);
}

.g{
    grid-area: g;
    background-color: rgb(137, 191, 93);
}


/*  */
footer {
    height: 10vh;
    background-color: #ff5100;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    justify-items: center;
    align-items: center;
}

/* Media Queries */
/* Tablet */
@media (min-width: 431px) and (max-width: 800px) {
    .main-page {
        height: 180vh;
        grid-template-areas:
        "a a"
        "a a"
        "b c" 
        "b c"
        "d d"
        "d d"
        "e e"
        "f g"
        "f g";
    }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 430px) {
    .main-page {
        height: 180vh;
        grid-template-areas:
        "a"
        "a"
        "b"
        "c"
        "d"
        "d"
        "e"
        "f"
        "g";
    }
}

.container {
display: grid;
grid-template-columns: 1fr 2fr 1fr;
grid-template-rows: 100px 200px 100px;
grid-template-areas:
"header header header"
"sidebar main ."
"footer footer footer";
gap: 10px 20px;
}

.header {
grid-area: header;
}
.sidebar {
grid-area: sidebar;
}
.main {
grid-area: main;

}
.footer {
grid-area: footer;
}

/* Bloque base */
.card {
border: 1px solid #ccc;
padding: 20px;
margin: 15px;
background-color: #fff;
border-radius: 6px;
}

/* Modificador del bloque */
.card--featured {
border-color: gold;
background-color: #fffbe6;
}

/* Elementos */
.card__title {
font-size: 1.5rem;
margin-bottom: 10px;
}

.card__description {
font-size: 1rem;
margin-bottom: 15px;
}

.card__button {
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
}

/* Modificadores de elementos */
.card__button--primary {
background-color: #007bff;
color: white;
}

.card__button--secondary {
background-color: #6c757d;
color: white;
}