@use "variables" as v;

footer {
    background-color: v.$lightpink;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 2rem;
    gap: 2rem;

    @include v.tablet {
        grid-template-columns: 1fr;
    }

    @include v.mobile {
        grid-template-columns: 1fr;
    }

    h3 {
        text-align: center;
        font-size: 1.2rem;
        margin: 0;
    }

    .social-links {
        display: flex;
        gap: 1rem;
        padding-left: 0;
        margin: 0;
        list-style: none;

        .social-icon {
            display: block;
            width: 60px;
            height: 60px;
            object-fit: contain;
        }
    }
}