@use "variables" as v;

.sticky-header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;

    .main-navbar {
        background-color: v.$lightpink;
        border-bottom: 1px solid v.$bordershadow;
        padding: 0 1rem;

        .navbar-mobile {
            margin: 0.2rem 3.5rem;

            @include v.tablet {
                margin: auto;
            }

            @include v.mobile {
                margin: auto;
            }

            .logo-header {
                width: auto;
                height: 10vh;
                max-height: 70px;
            }

            .button-navbar {
                background-color: v.$lightpink;
                border-color: v.$emphasiscolor;
            }

            .navbar-collapse {
                max-width: 1100px;
                margin: auto;

                ul {
                    gap: 15px;
                }
            }
        }

        .navbar-nav {

            @include v.tablet {
                display: block;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
            }

            @include v.mobile {
                display: block;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
            }

            .nav-link {
                font-size: 1rem;
                color: v.$emphasiscolor;
                padding: 0.5rem 1.8rem;
                gap: 1rem;

                &:hover {
                    color: v.$subtitle;
                    font-weight: 700;
                }

                &.active {
                    color: v.$subtitle;
                    font-weight: 700;
                }

                @include v.tablet {

                    &.active {
                        background-color: v.$brown;
                        color: v.$white;
                        border: 1px solid v.$orange;
                        border-radius: 25px;
                    }
                }

                @include v.mobile {

                    &.active {
                        background-color: v.$brown;
                        color: v.$white;
                        border: 1px solid v.$orange;
                        border-radius: 25px;
                    }
                }
            }
        }
    }
}