@use "variables" as v;

.hero-home {
    @include v.flex (row, space-evenly, center);
    height: 450px;
    background-color: v.$primarysection;
    text-align: center;
    padding: 2rem;
    gap: 20px;

    @include v.tablet {
        @include v.flex (column, center, center);
        height: auto;
        padding: 3rem 2rem;
    }

    @include v.mobile {
        @include v.flex (column, center, center);
        height: auto;
        padding: 3rem 2rem;
    }

    h1 {
        @include v.title (v.$emphasiscolor, 2.5rem, center, uppercase);
    }

    p {
        color: v.$text;
        text-align: center;
        font-size: 1.2em;

    }

    div {
        max-width: 700px;
        padding: 0 2rem;
    }

    .img-section {
        @include v.img-section ($mw: 600px);

        @include v.tablet {
            @include v.img-section ($mw: 500px);
        }

        @include v.mobile {
            display: none;
        }
    }
}

h2 {
    @include v.title (v.$emphasiscolor, 2rem, center, capitalize);
    font-weight: 700;

    @include v.tablet {
        @include v.title (v.$emphasiscolor, 1.6rem, center, capitalize);
        font-weight: 700;
    }

    @include v.mobile {
        @include v.title (v.$emphasiscolor, 1.6rem, center, capitalize);
        font-weight: 700;
    }
}

.seccion-mood {
    @include v.principal-section (v.$secondarysection, 0, column, center, center, 2rem);
    text-align: center;
    gap: 0.5rem;

    h2 {
        margin-top: 3rem;
    }

    .experiencias {
        display: grid;
        margin: 0 4rem;
        max-width: 1200px;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        padding: 2rem;
        margin-bottom: 3rem;

        a {
            text-decoration: none;
        }


        @include v.tablet {
            grid-template-columns: 1fr;
            margin: 1rem 2rem;
        }

        @include v.mobile {
            grid-template-columns: 1fr;
            width: 100%;
            padding: 1rem 0;
        }

        .card-experiencias {
            @extend %card-experiencias;
            padding: 2rem 1rem;

            @include v.mobile {
                padding: 1rem 0.5rem;
            }

            &:hover {
                background-color: v.$orange-hover;
                transform: scale(0.95);
            }
        }

        h3 {
            margin: 5px;
            font-size: 1.5rem;
            font-weight: bold;
        }

        p {
            margin: 15px;
            font-size: 1rem;
        }
    }

    .btn-cta {
        @extend %btn-cta;
        font-size: 1.2rem;
    }

    @include v.mobile {
        h2 {
            font-size: 1.5rem;
        }
    }
}

.homepage-foto {
    position: relative;
    width: 100%;
    min-height: 70vh;
    background-image: url("../assets/img/surf.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        color: v.$white;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background: v.$overlay;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    &__content {
        max-width: 800px;
        text-align: center;
        color: v.$white;

        h2 {
            font-size: clamp(2rem, 5vw, 3rem);
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.6;
            opacity: 0.9;
        }
    }

    @include v.tablet {
        min-height: 45vh;

        &__content {
            h2 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    @include v.mobile {
        min-height: 35vh;

        &__content {
            h2 {
                font-size: 1.5rem;
            }

            p {
                display: none;
            }
        }
    }
}

.video-home {
    background-color: v.$middlepink;
    h2 {
        padding: 2rem 1rem;
        font-weight: 300;
    }

    p {
        padding: 0 2rem 2rem;
        text-align: center;
    }


    .video-wrapper {
        position: relative;
        width: 100%;
        max-width: 720px;
        margin: auto;
        padding-top: 56.25%;
        overflow: hidden;
        border-radius: 8px;

        iframe {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            border: 0;
            display: block;
        }
    }
}

.section-wave {
    width: 100%;
    line-height: 0;
    overflow: hidden;

    svg {
        display: block;
        width: 100%;
    }
}

.faqs {
    max-width: 800px;
    margin: 4rem auto;
    padding: 0 1rem;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    details {
        border-bottom: 1px solid v.$lightpink;
        padding: 1rem 0;

        summary {
            cursor: pointer;
            font-weight: 600;
            list-style: none;
        }

        p {
            background-color: v.$lightpink;
            border: 1px solid v.$middlepink;
            border-radius: 8px;
            padding: 2rem;
            margin-top: 0.75rem;
            line-height: 1.6;
            opacity: 0.9;
        }
    }
}